<div class="nhsuk-width-container">
  <form method="GET" action="/recommendations">
    <fieldset class="nhsuk-fieldset">
      <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
        <h1 class="nhsuk-fieldset__heading">
          Social Prescription Recommender
        </h1>
      </legend>
      <div class="nhsuk-form-group">
        <label class="nhsuk-label" for="discharge-summary">
          Can you provide the discharge summary?
        </label>
        <span class="nhsuk-hint" id="discharge-summary">
            Do not include personal information, for example, your National Insurance number, names, postcodes, telephone numbers.
          </span>
        <textarea class="nhsuk-textarea" id="discharge-summary" name="discharge-summary" rows="5" aria-describedby="discharge-summary"></textarea>
      </div>
    </fieldset>
    <button class="nhsuk-button" type="submit">
      Continue
    </button>
  </form>
</div>
