<div class="nhsuk-width-container">
  <% if success %>
    <div class="nhsuk-inset-text">
      <span class="nhsuk-u-visually-hidden">Recommendation Sent: </span>
      <p>Those recommendations were sent successfully. You can now make recommendations for another patient.</p>
    </div>
  <% else %>
    <div class="nhsuk-u-padding-2"></div>
  <% end %>
  <form method="GET" action="/recommendations">
    <fieldset class="nhsuk-fieldset">
      <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
        <h1 class="nhsuk-fieldset__heading">
          Social Prescription Recommender
        </h1>
      </legend>
      <div class="nhsuk-form-group">
        <label class="nhsuk-label" for="discharge-summary">
          Can you provide the discharge summary?
        </label>
        <span class="nhsuk-hint" id="discharge-summary">
            Do not include personal information, for example, National Insurance numbers, names, postcodes, telephone numbers.
          </span>
        <textarea class="nhsuk-textarea" id="discharge-summary" name="discharge-summary" rows="5" aria-describedby="discharge-summary"><%= @recommender.recommendations_summary[:discharge_summary] %></textarea>
      </div>
    </fieldset>
    <button class="nhsuk-button" type="submit">
      Continue
    </button>
  </form>
  <a href="/seeds">populate database</a>
  <a href="/reset">reset database</a>
</div>
