<div class="nhsuk-u-padding-2"></div>
<div class="nhsuk-width-container">
  <div class="nhsuk-back-link">
    <a class="nhsuk-back-link__link" href="/recommendations">
      <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
        <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
      </svg>
      Add more</a>
  </div>
  <h1>Summary</h1>
  <div class="nhsuk-do-dont-list">
    <h3 class="nhsuk-do-dont-list__label">Recommendations</h3>
    <ul class="nhsuk-list nhsuk-list--tick">
      <li>
        <svg class="nhsuk-icon nhsuk-icon__tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" aria-hidden="true">
          <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12"></path>
        </svg>
        Walking Group
      </li>
      <li>
        <svg class="nhsuk-icon nhsuk-icon__tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" aria-hidden="true">
          <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12"></path>
        </svg>
        Crafts Cardiff
      </li>
      <li>
        <svg class="nhsuk-icon nhsuk-icon__tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" aria-hidden="true">
          <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12"></path>
        </svg>
        Tai Chi
      </li>
    </ul>
  </div>
  <form action="/send" method="get">
    <button class="nhsuk-button" type="submit">
      Send
    </button>
  </form>
</div>
